.linkplay-container {
	position: absolute;
	z-index: 100000;
	pointer-events: none;
}
.linkplay-wrap {
	pointer-events: all;
	position: absolute;
	width: 60px;
	height: 60px;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.5s;
	padding: 8px;
	box-sizing: content-box;
	left: 50%;
	top: 68%;
	margin: 0;
	transform: translateX(-50%);
}
.linkplay-container.video-hover .linkplay-wrap {
	opacity: 0.5;
}
